<div class="container">
  <div class="form-container">
    <div class="form-header">
      <p>Registra al encargado del restaurante</p>
      <h1>Crear Cuenta Admin</h1>
    </div>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" class="input-field" id="email" name="email" placeholder="Correo" [(ngModel)]="email" required>
        <label for="email" class="input-label">Correo Electrónico</label>
      </div>
      <div class="form-group">
        <input type="password" class="input-field" id="password" name="password" placeholder="Contraseña" [(ngModel)]="password" required>
        <label for="password" class="input-label">Contraseña</label>
      </div>
      
      <div *ngIf="errorMsg" class="error-msg" style="color: red; margin-bottom: 10px;">
        {{ errorMsg }}
      </div>
      <div *ngIf="successMsg" class="success-msg" style="color: green; margin-bottom: 10px;">
        {{ successMsg }}
      </div>

      <button type="submit" class="form-btn form-btn--submit" [disabled]="loading">
        {{ loading ? 'Creando...' : 'Registrarse' }}
      </button>
    </form>
    
    <div class="form-bottom" style="margin-top: 15px;">
        <p class="copy">¿Ya tienes cuenta? <a routerLink="/login" class="signup-link">Inicia sesión</a></p>
    </div>
  </div>
</div>
